<html>
    <head>
        <title>WordUp - Create New List</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="shortcut icon" type="png" href="{{ url_for('static', filename='images/logo.png') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1 class="home-title">Create New List</h1>
            <form action="{{ url_for('create_list') }}" method="POST">
                <p class="form-label">List Name</p>
                <input type="text" class="form-input" placeholder="i.e. List 1" name="listname" value="{{request.form.listname}}">
                <p class="instructions">Please enter each word you would like to include in your vocabulary list in the box below (at least 3 words), separating each word with a comma.</p>
                <input type="text" class="vocab-input" placeholder="i.e. accede, berate, burnish" name="words" value="{{request.form.words}}">
                {% for error in errors %}
                <p class="error">Error: {{ error }}</p>
                {% endfor %}
                <button class="submit" type="submit" value="New">
                    Create New List
                </button>
            </form>
        </div>
    </body>
</html>