<html>
    <head>
        <title>WordUp - Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="shortcut icon" type="png" href="{{ url_for('static', filename='images/logo.png') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <a href="{{ url_for('login') }}">
                <img src="{{ url_for('static', filename='images/logout-icon.png') }}" alt="log out" class="logout">
            </a>
            <div class="signout">Sign Out</div>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="word up logo" class="logo-index">
            <h1 class="home-title">Welcome, {{user.name}} &#128075;</h1>
            <div class="list-container">
                <h2>My Vocabulary Lists</h2>
                <button class="submit" type="submit" value="New">
                    <a href="{{ url_for('submit_list') }}">Create New List</a>
                </button>
            </div>
        </div>
    </body>
</html>